<div class="row">
	<div class="col col-3">
		<% if !current_user.image.profile.url.nil? %>
			<%= image_tag current_user.image.profile.url, class: 'img-thumbnail' %>
		<% end %>
		<br>
		<br>
		<h5> <%= current_user.name.capitalize %></h5>
	</div>


	<div class="col col-9">
		<%= link_to 'Create previous work', new_task_path, class: 'btn btn-outline-success' %>
		<p></p>
		<%= render 'tasks/list', user: current_user %>
</div>

</div>